body {
    font-family: 'Raleway';
}

#wrapper {
    width: 640px;
    max-width: 640px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #476C9B;
    height: 126px;
    background-color: rgba(71, 108, 155, 0.6);
    border-radius: 5px;
}

.title-text {
    font-size: 2.25rem;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #707070;
    border-radius: 5px;
    margin-top: 10px;
}

.number-to-found {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 5px;
}

.reset-button {
    border: 2px solid #468C98;
    background-color: rgba(70, 140, 152, 0.6);
    padding: 0 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.give-up {
    background-color: rgba(152, 68, 71, 0.6);
    border: 2px solid #984447;
}

.game-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.equation-box {
    position: relative;
    width: 40%;
    border: 2px solid #476C9B;
    background-color: rgba(71, 108, 155, 0.6);
    border-radius: 5px;
}

.undo-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.undo-button svg path {
    fill: #984447;
}

.winning-eq {
    font-size: 1.25rem;
}

.equation {
    padding-left: 10px;
    font-size: 1.125rem;
}

.equation-maker {
    display: flex;
    justify-content: space-between;
    width: 57%;
    border: 2px solid #707070;
    border-radius: 5px;
    padding-bottom: 10px;
}

.number-cards {
    margin-top: 15px;
    margin-left: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #468C98;
    margin-bottom: 10px;
    font-size: 1.65rem;
    background-color: rgba(70, 140, 152, 0.6);
    border-radius: 5px;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.disabled {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(70, 140, 152, 0.2);
    cursor: pointer;
}

.operation-wrapper {
    margin-top: 10px;
}

.user-equation {
    display: flex;
    border: 2px solid #707070;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 60px;
    width: 200px;
}

.user-equation>div {
    margin-top: 2px;
    margin-left: 5px;
}


.operations {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
    row-gap: 10px;
}

.calc-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #707070;
    border-radius: 5px;
    width: 95px;
    height: 60px;
    cursor: pointer;
}

.user-equation-op {
    width: 50px;
    height: 50px;
    border: 2px solid #707070;
    border-radius: 5px;
}

.equal-box {
    width: 135px;
}

.bin-box {
    width: 55px;
    background-color: rgba(152, 68, 71, 0.6);
    border: 2px solid #984447;
}

.bin-box svg g path {
    fill: #661F21;
}

#alert-box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
}

@keyframes pop-alert {
    from {
        opacity: 0;
        height: 0;
        bottom: -10px;
    }
    to {
        opacity: 1;
        height: 50px;
        bottom: 0;
    }
}

@keyframes remove-alert {
    from {
        opacity: 1;
        height: 50px;
        bottom: 0;
    }
    to{
        opacity: 0;
        height: 0;
        bottom: -10px;
    }
}

.alert {
    position: relative;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 0px solid transparent;
    width: 250px;
    width: 640px;
    max-width: 640px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0s linear 0.25s, border 0s linear 0.25s;
    padding-left: 20px;
    animation: remove-alert 0.32s;
    animation-fill-mode: forwards;
}

.alert:hover span{
    opacity: 1;
    transition: opacity 0.25s;
}

.alert span {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.25s;
}

.alert span:after {
    position: absolute;
    top: 2px;
    right: 9px;
    display: block;
    content: '';
    width: 2px;
    height: 15px;
    border-radius: 30px;
    transform: rotate(45deg);
    background-color: black;
}

.alert span:before {
    position: absolute;
    display: block;
    content: '';
    top: 2px;
    right: 9px;
    width: 2px;
    height: 15px;
    border-radius: 30px;
    transform: rotate(-45deg);
    background-color: black;
}


.alert.animated {
    animation: pop-alert 0.32s;
    animation-fill-mode: forwards;
}

.error-alert {
    opacity: 1;
    background-color: rgba(152, 68, 71, 0.6);
    border: 2px solid #661F21;
    height: 50px;
}

.info-alert {
    opacity: 1;
    background-color: rgba(145, 167, 195);
    border: 2px solid #476C9B;
    height: 50px;
}

.info-alert span:after, .info-alert span:before {
    background-color:  #476C9B;
}
.error-alert span:after, .error-alert span:before {
    background-color:  #661F21;
}

